/*
You do not need to worry about .error {} colliding with any other `.css` or
`.module.css` files!
*/
.compile{
    display: flex;
    justify-content: center;
}

.sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: blue;
}

.sections .section1{
    display: flex;
    background-color: azure;
}

.section1 .container{
    display: flex;
    background-color: aquamarine;
}

.sections .section2{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.section2 .container{
    background-color: bisque;
}

.section2 .titles{
    display: flex;
    flex-direction: column;
}

.section2 .email{
    display: flex;
    flex-direction: column;
}